* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/src/components/images/background\ pattern.7faaf8bbe9deea54ddc6.png) no-repeat;
  background-size: cover;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 420px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: #00b6b5;
  border-radius: 10px;
  padding: 40px;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.container:hover {
  transform: translateY(-5px);
}

.container h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #00b6b5;
}

.container .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(225, 225, 225, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  padding: 20px 45px 20px 20px;
  transition: border 0.3s ease;
}

.input-box input:focus {
  border: 2px solid #00b6b5;
}

.input-box input::placeholder {
  color: #888;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

.remember-me {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  color: #333;
}

.remember-me label input {
  accent-color: #00b6b5;
  margin-right: 4px;
}

.container button {
  width: 100%;
  height: 45px;
  background: #00b6b5;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.container button:hover {
  background-color: #009a9a;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.container .link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.link p a {
  color: #00b6b5;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.link p a:hover {
  color: #009a9a;
  text-decoration: underline;
}
